body {
    background-color: aliceblue;
}

.app-header {
    display: flex;
    justify-content: space-between;
    color: rgb(0, 0, 0);
}

.app-header-title {
    letter-spacing: 0.23rem;
    font-weight: 500;
}

.app-header-subtitle {
    color: rgba(61, 80, 61, 0.74);
}

.app-header-img {
    height: 100px;
    width: auto;
}

.app-content {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}

.app-table-frame-title {
    color: #fff;
    letter-spacing: 0.3rem;
    font-size: 1em;
    padding: 1px 1px 1px 5px;
}

.app-frame-title {
    color: #fff;
    letter-spacing: 0.3rem;
    font-size: 1em;
    padding: 10px 5px 5px 25px;
}

.app-table td, .app-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.app-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.app-table tr:nth-child(odd) {
    background-color: #f1f1f1f6;
}

.app-table tr:hover {background-color: #ddd;}

.app-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #082255;
  color: white;
}

.current-case-table-container {
    display: flex;
    flex-direction: column;
    background-color: #b9c5dd;
    border-radius: 0.55rem;
    padding: 10px 10px 25px 10px;
    margin: 10px 10px 25px 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.table-header {
    display: flex;
    justify-content: space-between;
    color: #DFE3E8;
}

.graph-header {
    display: flex;
    justify-content: space-between;
    color: #DFE3E8;
}

.dropdown-container {
    padding: 15px 15px 15px 15px;
    min-width: 250px;
    color: black;
    display: flex;
}

.variable-dropdown {
    min-width: 200px;
}

.dropdown-button-container {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.graph-with-dropdown-container {
    display: flex;
    flex-direction: column;
    background-color: #082255;
    border-radius: 0.55rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.first {
    margin-bottom: 15px;
}

.second {
    margin-top: 15px;
}

@media only screen and (max-width: 600px) {
    .app__content {
        display: block;
    }    
    .app-header-img {
        height: 30px;
        width: auto;
    }
    .app-header {
        display: flex;
        flex-direction: column;
    }
    .app-header-logo {
        order: 0;
    }
    .app-header-title {
        font-size: 1.5em;
        padding-top: 15px;
    }
}