/* Add a black background color to the top navigation */
.navbar {
    background-color: #344e41;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 1%;
    border-radius: 10px;
}

/* Style the links inside the navigation bar */
.navbar li, a, button {
    font-weight: 500;
    font-size: 16px;
    color: #ecf0f1;
    text-decoration: none;
}

.logo {
    cursor: pointer;
    height: 40px;
    padding: 0px 20px;
}

.navbar__links {
    list-style: none;
}

.navbar__links li {
    display: inline-block;
    padding: 0px 30px;
}

.navbar__links li a {
    letter-spacing: 0.08rem;
    transition: all 0.3s ease 0s;
}

.navbar__links li a:hover {
    transition: all 0.3s ease 0s;
    color: rgba(88, 129, 87, 1);
}

.navbar button {
    padding: 9px 25px;
    background-color: rgba(88, 129, 87, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.navbar button:hover {
    background-color: rgba(88, 129, 87, 0.8);
}

.header__title {
    letter-spacing: 0.05rem;
    font-weight: bold;
    font-size: 3rem;
    display: flex;
    color: #344e41;
}

.header__subtitle {
    color: #588157;
    font-size: 1.5rem;
    letter-spacing: 0.03rem;
    font-weight: lighter;
}


body {
    background-color: #dad7cd;
}

footer {
    padding: 0.5rem 0.0rem;
}

.divider {
    border: 1px solid #dad7cd;
    margin: 0.5rem 0rem;
}

.rights {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-decoration: none;
    color: #dad7cd;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}

.footer__container {
    background-color: #344e41;
    border-radius: 10px;
    padding: 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.app-content {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}

.app-table-frame-title {
    color: #dad7cd;
    letter-spacing: 0.3rem;
    font-size: 2rem;
    padding: 10px 1px 1px 15px;
}

.app-frame-title {
    color: #dad7cd;
    letter-spacing: 0.3rem;
    font-size: 2rem;
    padding: 10px 5px 5px 25px;
}

.app-table td, .app-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.app-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.app-table tr:nth-child(odd) {
    background-color: #f1f1f1f6;
}

.app-table tr:hover {background-color: #ddd;}

.app-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #082255;
  color: white;
}

.current-case-table-container {
    display: flex;
    flex-direction: column;
    background-color: #344e41;
    border-radius: 0.55rem;
    padding: 10px 10px 25px 10px;
    margin: 10px 10px 25px 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.table-header {
    display: flex;
    justify-content: space-between;
    color: #DFE3E8;
}

.graph-header {
    display: flex;
    justify-content: space-between;
    color: #e8e4df;
}

.dropdown-container {
    padding: 15px 5px 15px 5px;
    min-width: 200px;
    color: rgb(0, 0, 0);
    display: flex;
}

.variable-dropdown  {
    min-width: 200px;
    color: #344e41;
    font-weight: bold;
}

.variable-dropdown .Select-control  {
    background-color: #dad7cd;
}

.variable-dropdown .VirtualizedSelectOption {
    background-color: #dad7cd;
    color: #344e41;
}

.variable-dropdown .VirtualizedSelectFocusedOption {
    background-color: #344e41;
    color: #dad7cd;
}

.download-button {
    color: #344e41;
    background-color: #dad7cd;
    font-weight: bold;
    font-size: 1.5rem;
}

.download-button:hover {
    background-color: #344e41;
    color: #dad7cd;
}

.dropdown-button-container {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.graph-with-dropdown-container {
    display: flex;
    flex-direction: column;
    background-color: #344e41;
    border-radius: 1rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.graph-with-dropdown-container .dash-graph {
    padding: 10px;
}

.graph-with-dropdown-container .svg-container {
    width: 100%;
    padding: 10px;
}

.graph-with-dropdown-container .main-svg {
    border-radius: 1rem;
    width: 100%;
}

.first {
    margin-top: 15px;
}

.second {
    margin-top: 15px;
}

@media only screen and (max-width: 600px) {
    .app__content {
        display: block;
    }    
    .app-header-img {
        height: 30px;
        width: auto;
    }
    .app-header {
        display: flex;
        flex-direction: column;
    }
    .app-header-logo {
        order: 0;
    }
    .app-header-title {
        font-size: 0.5rem;
        padding-top: 15px;
    }
}