footer {
    padding: 0.5rem 0.0rem;
}

.divider {
    border: 1px solid #dad7cd;
    margin: 0.5rem 0rem;
}

.rights {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-decoration: none;
    color: #dad7cd;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}

.footer__container {
    background-color: #344e41;
    border-radius: 10px;
    padding: 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
