.rgba-primary-0 { color: rgba( 96,127,105,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba(204,213,207,1) }
.rgba-primary-2 { color: rgba(135,157,141,1) }
.rgba-primary-3 { color: rgba( 61,103, 74,1) }
.rgba-primary-4 { color: rgba( 43, 90, 57,1) }

.rgba-secondary-1-0 { color: rgba( 14, 47, 56,1) }	/* Main Secondary color (1) */
.rgba-secondary-1-1 { color: rgba( 64, 93,101,1) }
.rgba-secondary-1-2 { color: rgba( 30, 61, 70,1) }
.rgba-secondary-1-3 { color: rgba(  1, 26, 33,1) }
.rgba-secondary-1-4 { color: rgba(  0, 21, 27,1) }

.rgba-secondary-2-0 { color: rgba( 57, 82, 19,1) }	/* Main Secondary color (2) */
.rgba-secondary-2-1 { color: rgba(126,149, 93,1) }
.rgba-secondary-2-2 { color: rgba( 78,103, 43,1) }
.rgba-secondary-2-3 { color: rgba( 29, 49,  0,1) }
.rgba-secondary-2-4 { color: rgba( 23, 40,  0,1) }


:root {
    --background-color: rgba(204,213,207,1);
    --card-border-color: rgba( 61,103, 74,1);
    --card-header-text-color: rgba(204,213,207,1);
    --card-header-text-color-hover: rgba(135,157,141,1);
    --button-background-color: rgba(135,157,141,1);
    --button-background-color-hover: rgba( 43, 90, 57,1);
    --card-dropdown-background-color: rgba(204,213,207,1);
    --card-dropdown-background-color-hover: rgba( 43, 90, 57,1);
    --card-dropdown-text-color: rgba( 43, 90, 57,1);
    --card-dropdown-text-color-hover: rgba(204,213,207,1);
    --modal-form-input-border-color: rgba( 43, 90, 57,1);
}